header {
  margin: 0 auto;
}

.mainscreen {
  background-image: url(../images/img-main.png);
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.maintitle {
  width: 50%;
}
.maintitle h4 {
  letter-spacing: 5px;
  margin-bottom: 30px;
}
.maintitle .searchbar {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  border: 2px solid #fff;
}
.maintitle .searchbar input {
  text-align: center;
  letter-spacing: 5px;
  width: 80%;
}
.maintitle .searchbar .btn_search {
  width: 20%;
  color: #fff;
  background-color: #5474FD;
  border: none;
}
.maintitle .searchbar .btn_search:hover {
  background-color: #232323;
}

.scrolldown p {
  letter-spacing: 3px;
}
.scrolldown i {
  color: #fff;
  font-size: 30px;
}
.scrolldown i:hover {
  color: #5474FD;
  -webkit-animation: slideOutDown;
          animation: slideOutDown;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

/*screen size 320px - Mobiles */
@media screen and (max-width: 320px) {
  .maintitle .searchbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .maintitle .searchbar input {
    width: 100%;
  }
  .maintitle .searchbar .btn_search {
    width: 100%;
  }
}
#myNav {
  margin: 0 auto;
  width: 100%;
  height: 80px;
  background-color: #5474FD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#myNav h3 {
  margin-left: 5%;
  width: 40%;
}
#myNav .navbar {
  margin-right: 5%;
  width: 60%;
}
#myNav .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
#myNav .navbar ul li > a {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
}
#myNav .navbar ul li > a:hover {
  text-decoration: underline;
  color: #232323;
}

.burgernav {
  display: none;
  margin-right: 5%;
}
.burgernav a > i {
  color: #fff;
  font-size: 25px;
}

@media screen and (max-width: 320px) {
  .navbar {
    display: none;
  }
  .burgernav {
    display: block;
  }
}
@media screen and (max-width: 750px) {
  #myNav > .navbar > ul > li > a {
    font-size: 10px;
  }
}
.chooseus {
  background-image: url(../images/img-castle.png);
  background-size: cover;
  height: 685px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.chooseus .leftsection {
  margin: 5%;
  width: 50%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.chooseus .leftsection .btn_explore {
  height: 40px;
  width: 30%;
  color: #fff;
  background-color: #5474FD;
  border: none;
}
.chooseus .leftsection .btn_explore:hover {
  background-color: #232323;
}
.chooseus .rightsection {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.chooseus .rightsection .img-sm-1 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  overflow: hidden;
}
.chooseus .rightsection .img-sm-2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  overflow: hidden;
}

@media screen and (max-width: 320px) {
  .chooseus {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .chooseus .leftsection {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .chooseus .leftsection .btn_explore {
    height: 40px;
    width: 70%;
  }
  .chooseus .rightsection > .img-sm-1 {
    overflow: hidden;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
footer {
  background-color: #232323;
  height: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer h2 {
  letter-spacing: 5px;
}
footer p {
  line-height: 2;
  letter-spacing: 5px;
}
footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer ul li {
  margin: 5px;
}
footer ul li a {
  color: #fff;
}
footer ul li a:hover {
  color: #5474FD;
}

body {
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
  max-width: 1770px;
  margin: 0 auto;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 20px;
}

p {
  font-family: "Aleo", serif;
  font-weight: normal;
  line-height: 1.5;
}

@media screen and (max-width: 320px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 10px;
  }
  h4 {
    font-size: 10px;
  }
  p {
    line-height: 1.5;
  }
}
.searchplaces {
  background-color: #232323;
  height: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.searchplaces img {
  width: 45%;
}
.searchplaces .cards {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.searchplaces .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.searchplaces .card i {
  font-size: 30px;
}
.searchplaces .card h2 {
  padding: 20px;
}

@media screen and (max-width: 320px) {
  .searchplaces {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .searchplaces img {
    display: none;
  }
  .searchplaces .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .searchplaces .cards i {
    font-size: 15px;
  }
}
.thirdsection {
  background-image: url(../images/img-house.png);
  background-size: cover;
  height: 685px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.thirdsection .card {
  height: 371px;
  width: 540px;
  margin-left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(35, 35, 35, 0.6705882353);
  padding-left: 20px;
}
.thirdsection .card .cardcontent {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.thirdsection .card .btn_book {
  height: 40px;
  width: 30%;
  color: #fff;
  background-color: #5474FD;
  border: none;
}
.thirdsection .card .btn_book:hover {
  background-color: #232323;
}

.fourthsection {
  background-image: url(../images/img-landscape.png);
  background-size: cover;
  height: 685px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.fourthsection .card {
  height: 371px;
  width: 540px;
  margin-right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(35, 35, 35, 0.6705882353);
  padding-left: 20px;
}
.fourthsection .card .cardcontent {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.fourthsection .card .btn_book {
  height: 40px;
  width: 30%;
  color: #fff;
  background-color: #5474FD;
  border: none;
}
.fourthsection .card .btn_book:hover {
  background-color: #232323;
}

.fifthsection {
  background-image: url(../images/img-tourist.png);
  background-size: cover;
  height: 685px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.fifthsection h2 {
  margin-bottom: 5%;
}
.fifthsection .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.fifthsection .card .cardcontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-left: 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: #232323;
  line-height: 1.5;
}
.fifthsection .card .cardcontent .quote {
  font-size: 36px;
  color: #5474FD;
}

@media screen and (max-width: 750px) {
  .fifthsection .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fifthsection .card img {
    overflow: hidden;
  }
  .fifthsection .cardcontent {
    width: 100%;
  }
}